<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Busca de Colheitas</title>
</head>
    <body>
        <div layout:fragment="conteudo">
            <h2>Busca de Irrigação</h2>

            <form action="/irrigacao/irrigacao" method="get">
                <label for="dataIrrig">Data da Irrigação:</label>
                <input type="text" id="dataIrrig" name="dataIrrig" placeholder="Digite a data da Irrigação">
                <input type="submit" value="Pesquisar">
                <table>
                    <thead>
                        <tr>
                            <th>Data da Irrigação</th>
                            <th>Quantidade de Água usada</th>
                            <th>Duração da Irrigação(tempo)</th>
                            <th>Tipo da Irrigação</th>
                            <th>Observações</th>
                            <th>Plantacao</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="irrigacao : ${lista}">
                        <td th:text="${irrigacao.dataIrrig}"></td>
                        <td th:text="${irrigacao.quantid}"></td>
                        <td th:text="${irrigacao.duracao}"></td>
                        <td th:text="${irrigacao.tipoIrrig}"></td>
                        <td th:text="${irrigacao.observacao}"></td>
                        <td th:text="${irrigacao.plantacao.nome}"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
</html>