<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
    <head>
        <meta charset="UTF-8">
        <title>Busca de Colheitas</title>
    </head>
    <body>
        <div layout:fragment="conteudo">
            <h2>Busca de Colheitas</h2>

            <form action="colheita/buscaColheita" method="get">
                <label for="dataColheita">Data da Colheita:</label>
                <input type="text" id="dataColheita" name="dataColheita" placeholder="Digite a data da Colheita">
                <input type="submit" value="Pesquisar">

                <table>
                    <thead>
                        <tr>
                            <th>Data da Colheita</th>
                            <th>Quantidade Colhida</th>
                            <th>Plantacao</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="colheita : ${lista}">
                            <td th:text="${colheita.dataColheita}"></td>
                            <td th:text="${colheita.quantidade}"></td>
                            <td th:text="${colheita.plantacao.nome}"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
</html>
